- size = size || tall
- imageUrl = artwork.defaultImageUrl(size) ? artwork.defaultImageUrl(size) : artwork.get('image').url
.artwork-columns-artwork
  a( href='/artwork/' + artwork.get('id') )
    img( src=imageUrl data-id=artwork.get('_id') )
  .artwork-columns-artwork-details
    if artwork.get('artist')
      p= artwork.get('artist').name
    p
      em= artwork.get('title')
      if artwork.get('date')
        | ,&nbsp
        = artwork.get('date')
    p= artwork.partnerName()

    if artwork.get('sale_message') == 'Contact For Price'
      p Contact for price
    else
      p= artwork.saleMessage()

    if artwork.get('partner') && artwork.get('partner').type === 'Auction'
      .artwork-columns-artwork-details__bid-now
        if artwork.get('forsale') || artwork.get('is_for_sale')
          p.bid-now-link Bid now
        else
          p.bid-now-link Auction closed
