section.marketing-signup-modal
  .marketing-signup-modal-inner
    img.marketing-signup-modal-img( src=sd.MARKETING_SIGNUP_MODAL_IMG )
    h1.marketing-signup-modal-copy= sd.MARKETING_SIGNUP_MODAL_COPY
    a.avant-garde-box-button.avant-garde-box-button-gray.marketing-signup-modal-signup(
      href='/sign_up?email=1&acquisition_initiative=' + sd.MARKETING_SIGNUP_MODAL_SLUG
    ) Sign up
    a.avant-garde-box-button.marketing-signup-modal-fb(
      href=sd.AP.facebookPath + '?acquisition_initiative=' + sd.MARKETING_SIGNUP_MODAL_SLUG
    )
      i.icon-facebook
      | Continue with Facebook
    p Already have an account?&nbsp;
      a( href='/log_in' ) Log in
    p.photo-credit= sd.MARKETING_SIGNUP_MODAL_PHOTO_CREDIT
