.article-fullscreen( class= article.get('is_super_article') ? 'article-sa-fullscreen-video' : '' )
  if article.get('hero_section').background_url
    .article-fullscreen-container
      .article-fullscreen-overlay
      video.article-fullscreen-video-player( src=article.get('hero_section').background_url, autoplay=true, controls=false, loop=true)
  else if article.get('hero_section').background_image_url
    .article-fullscreen-container
      .article-fullscreen-overlay
      img.article-fullscreen-image( src=article.get('hero_section').background_image_url)

  .main-side-margin
    if article.get('is_super_article')
      .article-sa-fullscreen-logos
        .article-sa-primary-logos
          a( href="/" ).article-sa-artsy-logo.icon-logotype
          .article-sa-primary-logo
            if article.get('super_article').partner_logo && article.get('super_article').partner_logo_link
              a( href=article.get('super_article').partner_logo_link )
                img( src=article.get('super_article').partner_fullscreen_header_logo )

    .article-fullscreen-text
      .article-fullscreen-text-overlay
        if article.get('hero_section').title
          h1.large-garamond-header.article-fullscreen-title= article.get('title')
        if !article.get('is_super_article')
          include byline
        if article.get('hero_section').intro
          .article-lead-paragraph-container
            .article-lead-paragraph.article-fullscreen-intro!= article.get('hero_section').intro
          if article.get('is_super_article')
            .article-sa-related-container
              .article-sa-related
                for relatedArticle in relatedArticles.models
                  a( href=relatedArticle.href() )= relatedArticle.get('thumbnail_title')
